# Documentación apache acerca mod_rewrite: https://httpd.apache.org/docs/current/en/mod/mod_rewrite.html#rewritecond
Options +FollowSymLinks -MultiViews

# A rewrite engine is a component of web server software that allows you to rewrite or redirect uniform resource locators (URLs)
RewriteEngine on

#extension .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

#URLs amigables
#RewriteRule ^personaliza-tu-producto/([0-9]+)$ personaliza-tu-producto.php?tecnicaExterna=$1 [L,QSA]
#RewriteRule ^personnalisez-votre-produit/([0-9]+)$ personaliza-tu-producto.php?tecnicaExterna=$1 [L,QSA]
#RewriteRule ^personalizza-il-tuo-prodotto/([0-9]+)$ personaliza-tu-producto.php?tecnicaExterna=$1 [L,QSA]
#RewriteRule ^personalize-seu-produto/([0-9]+)$ personaliza-tu-producto.php?tecnicaExterna=$1 [L,QSA]

RewriteRule ^error?(.*)$ error.php?$1 [L,QSA]
RewriteRule ^erreur?(.*)$ error.php?$1 [L,QSA]
RewriteRule ^erre?(.*)$ error.php?$1 [L,QSA]
RewriteRule ^errore?(.*)$ error.php?$1 [L,QSA]

RewriteRule ^gracias-por-comprar?(.*)$ gracias-por-comprar.php?$1 [L,QSA]
RewriteRule ^merci-pour-lachat?(.*)$ gracias-por-comprar.php?$1 [L,QSA]
RewriteRule ^grazie-per-lacquisto?(.*)$ gracias-por-comprar.php?$1 [L,QSA]
RewriteRule ^obrigado-por-comprar?(.*)$ gracias-por-comprar.php?$1 [L,QSA]

##Redirecciones
ErrorDocument 404 /404.php

redirectMatch 301 /encargar-diseno/index /Proyecto-personalizar/index.php
redirectMatch 301 /personnalisez-votre-produit/index /Proyecto-personalizar/index.php
redirectMatch 301 /personalizza-il-tuo-prodotto/index /Proyecto-personalizar/index.php
redirectMatch 301 /personalize-seu-produto/index /Proyecto-personalizar/index.php

redirectMatch 301 /encargar-diseno/login /login.php
redirectMatch 301 /personnalisez-votre-produit/login /login.php
redirectMatch 301 /personalizza-il-tuo-prodotto/login /login.php
redirectMatch 301 /personalize-seu-produto/login /login.php

##################################################################################################################
############################################ PAGINAS IDIOMAS #####################################################
##################################################################################################################

#FRANCES
RewriteRule ^avis-juridique$ /web_pertex_propuesta/aviso-legal.php?idioma=FR [L,QSA]
RewriteRule ^bases-fermeture-tissu$ /web_pertex_propuesta/bases-tela-y-cierre.php?idioma=FR [L,QSA]
RewriteRule ^contact$ /web_pertex_propuesta/contacto.php?idioma=FR [L,QSA]
RewriteRule ^retour$ /web_pertex_propuesta/devoluciones.php?idioma=FR [L,QSA]
RewriteRule ^frais-de-livraison-et-dexpedition$ /web_pertex_propuesta/entrega-y-gastos-de-envio.php?idioma=FR [L,QSA]
RewriteRule ^erreur$ /web_pertex_propuesta/error.php?idioma=FR [L,QSA]
RewriteRule ^etiquettes$ /web_pertex_propuesta/etiquetas.php?idioma=FR [L,QSA]
RewriteRule ^modes-de-paiment$ /web_pertex_propuesta/formas-de-pago.php?idioma=FR [L,QSA]
RewriteRule ^merci-pour-lachat$ /web_pertex_propuesta/gracias-por-comprar.php?idioma=FR [L,QSA]
RewriteRule ^historique-commandes$ /web_pertex_propuesta/historial-pedidos.php?idioma=FR [L,QSA]
RewriteRule ^infographie$ /web_pertex_propuesta/infografia.php?idioma=FR [L,QSA]
RewriteRule ^marquages$ /web_pertex_propuesta/marcajes.php?idioma=FR [L,QSA]
RewriteRule ^mon-compte$ /web_pertex_propuesta/mi-cuenta.php?idioma=FR [L,QSA]
RewriteRule ^modules$ /web_pertex_propuesta/modulos.php?idioma=FR [L,QSA]
RewriteRule ^echantillonneur$ /web_pertex_propuesta/muestrario.php?idioma=FR [L,QSA]
RewriteRule ^nous$ /web_pertex_propuesta/nosotros.php?idioma=FR [L,QSA]
RewriteRule ^commande-interne$ /web_pertex_propuesta/pedido-interno.php?idioma=FR [L,QSA]
RewriteRule ^personnalisez-votre-produit$ /web_pertex_propuesta/encargar-diseno.php?idioma=FR [L,QSA]
RewriteRule ^politique-cookies$ /web_pertex_propuesta/politica-cookies.php?idioma=FR [L,QSA]
RewriteRule ^politique-confidentialite$ /web_pertex_propuesta/politica-privacidad.php?idioma=FR [L,QSA]
RewriteRule ^bracelets$ /web_pertex_propuesta/pulseras.php?idioma=FR [L,QSA]
RewriteRule ^tirettes$ /web_pertex_propuesta/tiradores.php?idioma=FR [L,QSA]
RewriteRule ^transfert$ /web_pertex_propuesta/transferencia.php?idioma=FR [L,QSA]

#ITALIANO
RewriteRule ^avviso-legale$ /web_pertex_propuesta/aviso-legal.php?idioma=IT [L,QSA]
RewriteRule ^basi-chiusura-tessuto$ /web_pertex_propuesta/bases-tela-y-cierre.php?idioma=IT [L,QSA]
RewriteRule ^contatto$ /web_pertex_propuesta/contacto.php?idioma=IT [L,QSA]
RewriteRule ^restituzioni$ /web_pertex_propuesta/devoluciones.php?idioma=IT [L,QSA]
RewriteRule ^consegna-e-spese-di-spedizione$ /web_pertex_propuesta/entrega-y-gastos-de-envio.php?idioma=IT [L,QSA]
RewriteRule ^errore$ /web_pertex_propuesta/error.php?idioma=IT [L,QSA]
RewriteRule ^etichette$ /web_pertex_propuesta/etiquetas.php?idioma=IT [L,QSA]
RewriteRule ^modalita-di-pagamento$ /web_pertex_propuesta/formas-de-pago.php?idioma=IT [L,QSA]
RewriteRule ^grazie-per-lacquisto$ /web_pertex_propuesta/gracias-por-comprar.php?idioma=IT [L,QSA]
RewriteRule ^cronologia-degli-ordini$ /web_pertex_propuesta/historial-pedidos.php?idioma=IT [L,QSA]
RewriteRule ^infografica$ /web_pertex_propuesta/infografia.php?idioma=IT [L,QSA]
RewriteRule ^patch$ /web_pertex_propuesta/marcajes.php?idioma=IT [L,QSA]
RewriteRule ^il-mio-account$ /web_pertex_propuesta/mi-cuenta.php?idioma=IT [L,QSA]
RewriteRule ^moduli$ /web_pertex_propuesta/modulos.php?idioma=IT [L,QSA]
RewriteRule ^campionario$ /web_pertex_propuesta/muestrario.php?idioma=IT [L,QSA]
RewriteRule ^noi$ /web_pertex_propuesta/nosotros.php?idioma=IT [L,QSA]
RewriteRule ^ordine-interno$ /web_pertex_propuesta/pedido-interno.php?idioma=IT [L,QSA]
RewriteRule ^personalizza-il-tuo-prodotto$ /web_pertex_propuesta/encargar-diseno.php?idioma=IT [L,QSA]
RewriteRule ^politica-cookie$ /web_pertex_propuesta/politica-cookies.php?idioma=IT [L,QSA]
RewriteRule ^politica-riservatezza$ /web_pertex_propuesta/politica-privacidad.php?idioma=IT [L,QSA]
RewriteRule ^bracciali$ /web_pertex_propuesta/pulseras.php?idioma=IT [L,QSA]
RewriteRule ^tiretti$ /web_pertex_propuesta/tiradores.php?idioma=IT [L,QSA]
RewriteRule ^trasferimento$ /web_pertex_propuesta/transferencia?idioma=IT [L,QSA]

# #PORTUGUES

RewriteRule ^aviso-legal$ /web_pertex_propuesta/aviso-legal.php?idioma=PT [L,QSA]
RewriteRule ^bases-e-fechamento-em-tecido$ /web_pertex_propuesta/bases-tela-y-cierre.php?idioma=PT [L,QSA]
RewriteRule ^contato$ /web_pertex_propuesta/contacto.php?idioma=PT [L,QSA]
RewriteRule ^retorna$ /web_pertex_propuesta/devoluciones.php?idioma=PT [L,QSA]
RewriteRule ^custos-de-entrega-e-envio$ /web_pertex_propuesta/entrega-y-gastos-de-envio.php?idioma=PT [L,QSA]
RewriteRule ^erre$ /web_pertex_propuesta/error.php?idioma=PT [L,QSA]
RewriteRule ^etiquetas$ /web_pertex_propuesta/etiquetas.php?idioma=PT [L,QSA]
RewriteRule ^formas-de-pagamento$ /web_pertex_propuesta/formas-de-pago.php?idioma=PT [L,QSA]
RewriteRule ^obrigado-por-comprar$ /web_pertex_propuesta/gracias-por-comprar.php?idioma=PT [L,QSA]
RewriteRule ^historico-pedidos$ /web_pertex_propuesta/historial-pedidos.php?idioma=PT [L,QSA]
RewriteRule ^infografico$ /web_pertex_propuesta/infografia.php?idioma=PT [L,QSA]
RewriteRule ^marcacoes$ /web_pertex_propuesta/marcajes.php?idioma=PT [L,QSA]
RewriteRule ^minha-conta$ /web_pertex_propuesta/mi-cuenta.php?idioma=PT [L,QSA]
RewriteRule ^modulos$ /web_pertex_propuesta/modulos.php?idioma=PT [L,QSA]
RewriteRule ^amostrador$ /web_pertex_propuesta/muestrario.php?idioma=PT [L,QSA]
RewriteRule ^nos$ /web_pertex_propuesta/nosotros.php?idioma=PT [L,QSA]
RewriteRule ^ordem-interna$ /web_pertex_propuesta/pedido-interno.php?idioma=PT [L,QSA]
RewriteRule ^personalize-seu-produto$ /web_pertex_propuesta/encargar-diseno.php?idioma=PT [L,QSA]
RewriteRule ^politica-cookies$ /web_pertex_propuesta/politica-cookies.php?idioma=PT [L,QSA]
RewriteRule ^politica-privacidade$ /web_pertex_propuesta/politica-privacidad.php?idioma=PT [L,QSA]
RewriteRule ^pulseiras$ /web_pertex_propuesta/pulseras.php?idioma=PT [L,QSA]
RewriteRule ^puxadores$ /web_pertex_propuesta/tiradores.php?idioma=PT [L,QSA]
RewriteRule ^transferencia$ /web_pertex_propuesta/transferencia.php?idioma=PT [L,QSA]
