/*************
  Black Ice Theme (by thezoggy)
 *************/
/* overall */
.tablesorter-blackice i {
  color: black;
}

.tablesorter-blackice {
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 5px 5px 15px lightgray;
  color: black;
}

/* header */
.tablesorter-blackice th,
.tablesorter-blackice thead td {
  padding: 4px;
  font-weight: bold;
  color: #e5e5e5;
  background-color: #111;
  border: 1px solid #232323;
}

/* tbody */
.tablesorter-blackice td {
  /* padding: 4px; */
  vertical-align: center;
  height: 60px;
  padding-left: 10px;
}

/* hovered row colors */
.tablesorter-blackice tbody > tr.hover > td,
.tablesorter-blackice tbody > tr:hover > td,
.tablesorter-blackice tbody > tr.even:hover > td,
.tablesorter-blackice tbody > tr.odd:hover > td,
.tablesorter-blackice tbody > tr.hover > td > button > i,
.tablesorter-blackice tbody > tr:hover > td > button > i,
.tablesorter-blackice tbody > tr.even:hover > td > button > i,
.tablesorter-blackice tbody > tr.odd:hover > td > button > i {
  background-color: #e2e2e2;
  cursor: pointer;
  color: black;
}

.seleccionada, .seleccionada i {
  background-color: #00953e;
  color: white;
}

/* Estilos específicos para las filas de detalles */
.no-hover {
  background-color: #e1ebe5;
  text-align: left;
}

/* Estilos específicos para las filas de mensajes */
#mensajesEquipoPertex {
  background-color: #f0f0f0;
  text-align: left;
}

.tablesorter-blackice tbody > tr.no-hover > td {
  background-color: transparent; /* Remove background color on hover */
  cursor: auto; /* Set cursor to default */
}
